html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
}
